.modal-close {
  background: none;
  border: none;
  font-size: 2.5rem;
  line-height: 1;
  cursor: pointer;
  color: #ea5555;
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
  transition-delay: 0.1s; /* Delay before scaling */
  position: relative;
  top: 0;
  right: 0;
}

.side-modal-top {
  display: flex;
}

.side-modal {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  display: none;
  justify-content: center;
  align-items: flex-start;
}

.side-bar-modal {
  background-color: #ffffff;
  width: 50%;
  max-height: 25%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0);
  overflow: auto;
  display: center;
  margin-top: 5rem;
}

#side-modal-header {
  color: var(--secondary-font-color);
  font-size: 0.75rem;
  letter-spacing: 0.125rem; /* Makes heading more spaced */
  color: #828fa3;
  margin-left: 1rem;
}

#side-modal-label {
  background-color: #635fc7;
  padding: 0.5rem;
  margin-left: 0rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 80%;
  color: #ffffff;
}
