#loading-message {
  border: 5px solid #635fc7;
  background-color: #635fc7;
  color: aliceblue;
  font-size: 20px;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

#saveChangesBtn {
  background-color: #635fc7;
  margin: 0.5rem;
  border-radius: 1rem;
  color: #ffffff;
  border: #635fc7;
  padding: 1rem;
  width: 40%;
}

#deleteTaskBtn {
  background-color: #ea5555;
  margin: 0.5rem;
  border-radius: 1rem;
  color: #ffffff;
  border: #ea5555;
  padding: 1rem;
  width: 40%;
}

.theme-toggle {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

/* Hide native checkbox appearance */
.theme-toggle input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ccc;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

/* Slider container */
.slider {
  position: relative;
  width: 80%;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
  box-sizing: border-box;
  transition: background-color 0.3s;
  margin-top: 30rem;
  margin-left: 2rem;
}

/* Move the checkbox circle when checked */
.theme-toggle input:checked {
  transform: translateX(1rem);
  background-color: white;
  border-color: #007bff;
}

/* Sun/Moon icons */
.icon {
  font-size: 16px;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 1;
}

.sun {
  opacity: 1;
}
.moon {
  opacity: 1;
}

.theme-toggle input:checked ~ .moon {
  opacity: 1;
}

.theme-toggle input:checked ~ .sun {
  opacity: 0;
}

/* Change slider background on checked */
.theme-toggle input:checked ~ .slider {
  background-color: #f4f7fd;
}

.side-modal {
  display: none;
}

.hide-sidebar {
  margin: 0.5rem;
  width: 80%;
  padding: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #635fc7;
  font-weight: bold;
}

.side-bar.hide {
  left: -20rem;
}
